
#about {
    padding: 40px 0; /* Increase padding for more visual space */
    background-color: #081528; /* Ensure consistent background */
    opacity: 0;
    transform: translateY(20px); /* Empieza un poco abajo */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

body.loaded #about {
    opacity: 1;
    transform: translateY(0);
}
#about h2 {
    color: #61DAFB; /* Contrasting title color (cyan) */
    font-size: 2.5em; /* Larger font size for the title */
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center; /* Center the title */
}

#about p {
    font-size: 1.1em; /* Slightly larger and more readable font size */
    line-height: 1.8; /* Comfortable line spacing */
    color: #CBD5E0; /* Lighter text color for better readability on dark background */
    max-width: 600px; /* Limit the paragraph width for comfortable reading */
    margin: 0 auto; /* Center the paragraph horizontally */
    padding: 0 20px; /* Add some horizontal padding for smaller screens */
}

#about p strong {
    color: #A78BFA; /* Highlight color for keywords (purple) */
    font-weight: bold; /* Make sure the keywords stand out */
}

.cart-frame {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 300px; /* Ajusta según el contenido */
    display: block; /* Evita el pequeño espacio extra debajo del iframe */
}