/* Sidebar */
.sidebar {
    width: 30%; /* Mantenemos el ancho del sidebar */
    height: auto;
    background-color: #081528;
    padding: 35px;
    position: sticky;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 3%;
    box-sizing: border-box;
}

/* Estilos del nombre */
.sidebar h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    word-break: break-word; /* Evita que palabras largas rompan el diseño */
}

/* Estilos del subtítulo */
.sidebar h2 {
    font-size: 22px;
    font-weight: normal;
    color: #61dafb;
    margin-bottom: 20px;
    word-break: break-word; /* Evita que palabras largas rompan el diseño */
}

/* Descripción */
.sidebar p {
    font-size: 14px;
    color: #A0AEC0;
    margin-bottom: 50px;
    white-space: pre-line; /* Respeta los saltos de línea en el texto */
    word-break: break-word; /* Evita que palabras largas rompan el diseño */
}

/* Menú de navegación */
.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
    position: relative;
}

.sidebar nav ul li a {
    font-size: 20px;
    color: #A0AEC0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    position: relative;
    color: #A0AEC0;
    transition: color 0.3s ease-in-out; /* Añadimos transición al color */
}
.sidebar nav ul li a:hover {
    color: #E2E8F0; /* Cambia a un color más claro al pasar el cursor */
}
.sidebar nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #61dafb;
    transition: width 0.3s ease-in-out;
}

.sidebar nav ul li a:hover::before {
    width: 100%;
}