/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex; /* Usaremos flexbox para centrar las columnas */
    justify-content: center; /* Centra horizontalmente las columnas */
    align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
    background-color: #081528;
    color: white;
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la pantalla */
}

/* Redes sociales */
.social-links {
    /* Mantenemos la posición absolute, pero ajustamos para que sea relativo al sidebar */
    position: absolute;
    bottom: -150px; /* Ajusta la distancia desde la parte inferior */
    left: 10%; /* Alineado con el inicio del contenido del sidebar */
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #A0AEC0;
    font-size: 24px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #61dafb;
}

/* Contenido principal */
.content {
    width: 45%; /* Mantenemos el ancho */
    padding: 50px;
    top: 50px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

section {
    padding: 50px 0;
    background-color: #081528;
}

.cursor-light {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle, rgba(16, 43, 73, 0.4) 10%, rgba(8, 21, 40, 0) 50%);
    transition: background 0.1s ease-out;
    z-index: 9999; /* Asegura que esté en la capa superior */
}