/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex; /* Mantenemos flex para el centrado */
    justify-content: center; /* Centra horizontalmente el contenedor de las columnas */
    align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
    background-color: #081528;
    color: white;
    min-height: 100vh;
}
.main-container {
    display: flex;
    width: 85%; /* Ajusta el ancho total del contenedor de las columnas */
    max-width: 1200px; /* O un valor máximo que consideres adecuado */
    justify-content: space-between; /* Espacia el sidebar y el content */
    align-items: flex-start; /* Alinea el contenido al inicio verticalmente dentro del contenedor */
}

/* Contenido principal */
.content {
    width: 65%; /* Ajustamos el ancho del content para ocupar el espacio restante */
    padding: 50px;
    top: 50px;
    box-sizing: border-box;
}


section {
    padding: 50px 0;
    background-color: #081528;
}

.cursor-light {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle, rgba(16, 43, 73, 0.4) 10%, rgba(8, 21, 40, 0) 50%);
    transition: background 0.1s ease-out;
    z-index: 9999; /* Asegura que esté en la capa superior */
}