body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#container {
    display: flex;
}

#sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
}

#content {
    flex: 1;
    padding: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar li a {
    color: #333;
    text-decoration: none;
    display: block;
}

#sidebar li a:hover {
    background-color: #ddd;
}

.title {
    text-align: center;
}

/* Estilos base para todos los tamaños de pantalla */
.networks {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para dispositivos móviles con pantallas de hasta 767px de ancho */
@media (max-width: 767px) {
    .networks a {
        display: block;
        margin: 10px auto;
        text-decoration: none;
        text-align: center;
        width: 80%; /* Ancho del contenedor de cada ícono y texto */
    }

    /* Ajustar el tamaño de las imágenes en dispositivos móviles */
    .networks img {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto 5px; /* Espacio entre imagen y texto */
    }
}

/* Estilos para pantallas de escritorio */
.networks a {
    display: inline-block; /* Convertir los enlaces en bloques para que el texto aparezca debajo */
    margin: 10px;
    text-decoration: none;
    text-align: center;
    width: 100px; /* Ancho del contenedor de cada ícono y texto */
}

/* Ajustar el tamaño de las imágenes en pantallas de escritorio */
.networks img {
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Alto de la imagen */
    display: block; /* Convertir las imágenes en bloques para que se muestren en línea */
    margin: 0 auto 5px; /* Centrar las imágenes horizontalmente */
}

.bubble {
    background-color: #ffff; /* Color de fondo de la burbuja */
    padding: 25px;
    border-radius: 100px;
    display: inline-block; /* Hace que la burbuja se ajuste al contenido */
    height: 100px;
    width: 120px;
}
.bubble:hover {
    transform: scale(1.05); /* Hace que la burbuja se haga ligeramente grande */
    background-color: #e4f8f6; /* Cambia el color de fondo al pasar el cursor */
}

#header-text{
    color: #ffffff; /* Color del texto del encabezado */
}

section {
    text-align: center; /* Centrar el contenido */
    max-width: 700px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar la sección en la página */
}
h1 {
    font-size: 32px; /* Tamaño de la fuente del encabezado */
    color: #333; /* Color del texto del encabezado */
    margin-bottom: 20px; /* Espaciado inferior */
}
p {
    font-size: 18px; /* Tamaño de la fuente del párrafo */
    color: #666; /* Color del texto del párrafo */
    line-height: 1.6; /* Espaciado entre líneas */
}