<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience Card</title>
    <link rel="stylesheet" href="../css/carts.css">
    <script src="../js/script.js" defer></script>
    <style>

    </style>
</head>
<body>
    <div class="experience-card">
        <div class="experience-header">
            <span class="experience-date">APR - SEP 2022</span>
            <h3 class="experience-title">Manufacturing Trainee <span class="experience-company">CERHAN - Audi Mexico</span> <span style="font-size: 0.8em; color: #A0AEC0;">↗</span></h3>
        </div>
        <p class="experience-description">
            Development of Skills for the Operation of KUKA Robotic Cells
            Preventive and Corrective Maintenance
            Programming of Siemens and Phoenix Contact PLCs
            Configuration of Network Devices
            Pneumatic Systems
            Application of Nelson Studs, Sealing with Dürr, Welding with Nimak
        </p>
        <div class="experience-tech-stack">
            <span class="tech-badge">SIEMENS</span>
            <span class="tech-badge">Phoenix Contact</span>
            <span class="tech-badge">KUKA Q3</span>
        </div>
    </div>
</body>
</html>