<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo Garrido</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/carts.css">
    <link rel="stylesheet" href="../css/about.css">
    <script src="../js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="cursor-light"></div>
    <!-- Sidebar -->
    <aside class="sidebar">
        <h1>Pablo Garrido</h1>
        <h2>Data Analyst Consultant</h2>
        <p>I build accessible, data experiences for the enterprises.</p>
        
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
        </nav>
    
        <div class="social-links">
            <a href="https://github.com/PablomxH" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/pablo-garrido-hern%C3%A1ndez-067b90233/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-codepen"></i></a>
            <a href="https://www.instagram.com/pavblo.py/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-goodreads"></i></a>
        </div>
    </aside>
    
    <!-- Contenido Principal -->
    <main class="content">
        <section id="about">
            <h2>About</h2>
            <p><strong>Mechatronics Technician</strong> and <strong>Mechatronics Engineering</strong> student, currently focused on developing my <strong>skills</strong>, I am seeking to <strong>collaborate</strong> in <strong>teams</strong> and <strong>projects</strong> where I can provide <strong>tangible results</strong>.</p>
            <p>I am a <strong>technology enthusiast</strong> and an <strong>organized professional</strong>, with an ability to <strong>adapt easily</strong> and a <strong>strong willingness to learn</strong>. I enjoy <strong>working in teams</strong> and providing <strong>support</strong> in any necessary <strong>task</strong> to make a <strong>meaningful contribution</strong>.</p>
        </section>
        <section id="experience">
            <div class="experience-card">
                <div class="experience-header">
                    <span class="experience-date">2024 – PRESENT</span>
                    <div class="experience-info">
                        <h3 class="experience-title">Data Business Analyst</h3>
                        <span class="experience-company">ALTEN <span style="font-size: 0.8em; color: #A0AEC0;">↗</span></span>
                    </div>
                </div>
                <p class="experience-description">
                    Build and maintain critical components used to construct Klaviyo's
                    frontend, across the whole product. Work closely with cross-
                    functional teams, including developers, designers, and product
                    managers, to implement and advocate for best practices in web
                    accessibility.
                </p>
                <div class="experience-tech-stack">
                    <span class="tech-badge">Power BI</span>
                    <span class="tech-badge">Power Platform</span>
                    <span class="tech-badge">Azure</span>
                    <span class="tech-badge">Python</span>
                </div>
            </div>
            <div class="experience-card">
                <div class="experience-header">
                    <span class="experience-date">2023 – 2024</span>
                    <div class="experience-info">
                        <h3 class="experience-title">IT Infrastructure Operations Technician</h3>
                        <span class="experience-company">OP mobility <span style="font-size: 0.8em; color: #A0AEC0;">↗</span></span>
                    </div>
                </div>
                <p class="experience-description">
                    SQL Database Administration
                    Development of Reports in Power BI
                    Configuration of Cisco Switches and Palo Alto Firewalls
                    Operating System Installation and Migration to Windows 11
                    Device Management using Intune, User and Permissions Management
                </p>
                <div class="experience-tech-stack">
                    <span class="tech-badge">CISCO</span>
                    <span class="tech-badge">SQL</span>
                    <span class="tech-badge">POWER BI</span>
                    <span class="tech-badge">Azure AD</span>
                </div>
            </div>
            <div class="experience-card">
                <div class="experience-header">
                    <span class="experience-date">APR - SEP 2022</span>
                    <div class="experience-info">
                        <h3 class="experience-title">Manufacturing Trainee</h3>
                        <span class="experience-company">CERHAN - Audi Mexico <span style="font-size: 0.8em; color: #A0AEC0;">↗</span></span>
                    </div>
                </div>
                <p class="experience-description">
                    Development of Skills for the Operation of KUKA Robotic Cells
                    Preventive and Corrective Maintenance
                    Programming of Siemens and Phoenix Contact PLCs
                    Configuration of Network Devices
                    Pneumatic Systems
                    Application of Nelson Studs, Sealing with Dürr, Welding with Nimak
                </p>
                <div class="experience-tech-stack">
                    <span class="tech-badge">SIEMENS</span>
                    <span class="tech-badge">Phoenix Contact</span>
                    <span class="tech-badge">KUKA Q3</span>
                </div>
            </div>
        </section>
        <section id="projects">
            <h2>Projects</h2>
            <p>Listado de proyectos.</p>
        </section>
        <section id="hobbies">
            <h2>Hobbies</h2>
            <p>Mis pasatiempos.</p>
        </section>
    </main>
</body>

</html>