<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo Garrido</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <script src="../js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="cursor-light"></div>
    <!-- Sidebar -->
    <aside class="sidebar">
        <h1>Pablo Garrido</h1>
        <h2>Data Analyst Consultant</h2>
        <p>I build accessible, data experiences for the enterprises.</p>
        
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
        </nav>
    
        <div class="social-links">
            <a href="https://github.com/PablomxH" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/pablo-garrido-hern%C3%A1ndez-067b90233/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-codepen"></i></a>
            <a href="https://www.instagram.com/pavblo.py/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-goodreads"></i></a>
        </div>
    </aside>
    
    <!-- Contenido Principal -->
    <main class="content">
        <section id="description">
            <h2>Description</h2>
            <p>Mechatronics Technician and Mechatronics Engineering student, currently focused on developing my skills, I am seeking to collaborate in teams and projects where I can provide tangible results.

                I am a technology enthusiast and an organized professional, with an ability to adapt easily and a strong willingness to learn. I enjoy working in teams and providing support in any necessary task to make a meaningful contribution.</p>
        </section>
        <section id="about">
            <h2>About</h2>
            <p>Esta es la sección de información sobre mí.</p>
        </section>
        <section id="experience">
            <h2>Experience</h2>
            <p>Aquí está mi experiencia laboral.</p>
        </section>
        <section id="projects">
            <h2>Projects</h2>
            <p>Listado de proyectos.</p>
        </section>
        <section id="hobbies">
            <h2>Hobbies</h2>
            <p>Mis pasatiempos.</p>
        </section>
    </main>
</body>

</html>